rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /sites/{site} {
      function isSignedIn() {
        return request.auth != null;
      }

      function getAccessLevel() {
        return request.resource.data.siteData.users.yMA3g8t8CDWPjaFqL4gJtE2FjxM2;
      }

      function hasAccess(accessLevel) {
        return isSignedIn() && (getAccessLevel() > accessLevel);
      }

      allow update: if hasAccess(0);
      allow read: if true;
    }
  }
}